body {
  width: 100%;
  height: 100vh;
  background-image: url(../image/backgrounds/laboratoria.gif);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

header{
  height: 10vh;
}

main {
  width: 100%;
  height: 90vh;
}

.personagem {
  height: 60vh;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.img-personagem {
  width: 300px;
}


.caixa-dialogo {
  width: 100%;
  height: 30vh;
  background-color: #ffffff7c;
  padding: 25px;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
}

main > section > p, main > section > a{
  font-family: var(--vt323);
  font-size: 30px;
  color: black;
}

.btn-continuar{
  display: flex;
  justify-content: end;
  align-items: flex-end;
}